<main>
  <section>
    <!--    Display the search bar for the item names -->
    <div class="row search-bar">

      <a class="col-3 btn add" [routerLink]="['items/add-item']">Add new item</a>

      <br>

      <input
        class="col-4 form-control"
        placeholder="Filter by name..."
        [(ngModel)]="searchText">

    </div>


    <h3 class="section-title">Items</h3>

    <!--    Display all the items with name, img, price and stock urgency -->
    <div *ngIf="items">
      <ul class="card-list">
        <div *ngFor="let item of items | nameFilter: searchText">
          <li class="card">
            <div class="card-title">{{item.name}}</div>
            <img class="card-image" src="../../assets/img/item-image.png" alt="item image">
            <div class="card-footer">
              <div>Price: &euro; {{item.price}}</div>
              <div class="stock">
                <span>{{getStockUrgencyShortened(item)}}</span>
                <img class="icon" src="../../assets/img/{{getStockUrgencyShortened(item)}}-power.png"
                     alt="{{getStockUrgencyShortened(item)}}">
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>


  </section>


</main>


