<!--We should be able to navigate to an Item's detail page:-->
<!--By directly navigating to a url that contains the id of the item.-->
<!--https://order-frontend-site.com/items/-->
<!--By clicking on an item's name or image in the item overview.-->
<!--The following information should be present on the item's detail page-->
<!--Id-->
<!--Name-->
<!--Description-->
<!--Price-->
<!--Amount of (initial) Stock-->
<!--Clicking the Back button should automatically navigate back to the Item overview.-->
<!--No changes to the data can be made here, all contents is presented as labels or as read-only form elements-->
<!--You can already add the Edit button as a placeholder.-->

<ng-container class="row" xmlns="http://www.w3.org/1999/html">
  <section  class="col-1" *ngIf="itemToDisplay$ | async as itemData">

    <div class="item-overview-display">
      <p class="item-title">Item ID:</p>
      <input class="item-overview-box" type="text" [readonly]="true" placeholder="{{itemData.id}} "/>
    </div>


    <div class="item-overview-display">
      <p class="item-title">Item name:</p>
      <input class="item-overview-box" type="text" [readonly]="true" placeholder="{{itemData.name}}"/>
    </div>

    <div class="item-overview-display">
      <p class="item-title">Description:</p>
      <textarea class="item-overview-box" [readonly]="true" placeholder="{{itemData.description}}"></textarea>
    </div>

    <div class="item-overview-display">
      <p class="item-title">Price:</p>
      <input class="item-overview-box" type="text" [readonly]="true" placeholder="€ {{itemData.price}}"/>
    </div>

    <div class="item-overview-display">
      <p class="item-title">Amount in stock:</p>
      <input class="item-overview-box" type="text" [readonly]="true" placeholder="{{itemData.amountOfStock}}"/>
    </div>

  </section>
</ng-container>


