*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  color: #5D6063;
}

header {
  display: flex;
  justify-content: space-between;

  padding: 50px;

  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

main {
  padding: 50px;
}

footer {
  display: flex;
  justify-content: center;
  margin: .5rem;
  border-style: solid;
  border-width: 1px;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav > a {
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: blue;

  padding-left: 1em;
  padding-right: 1em;
}

nav > a:hover {
  background-color: blue;
  color: white;
}

.logo-group {
  display: inline-flex;
  justify-content: initial;
  align-items: center;
}

.logo-title {
  font-size: 35px;
  font-color: #ff0000;
}

.section-title {
  font-size: 25px;
  font-weight: 500;

  padding-bottom: 20px;
  margin-bottom: 20px;

  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 500px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: initial;
  margin-bottom: .5rem;
}

.col-1 {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}

.col-2 {
  flex: 2;
  padding-left: 5px;
  padding-right: 5px;
}

.col-3 {
  flex: 3;
  padding-left: 5px;
  padding-right: 5px;
}

.col-4 {
  flex: 4;
  padding-left: 5px;
  padding-right: 5px;
}

.form-label {
  display: block;
  padding-left: 5px;
  color: lightgray;
  font-size: 18px;
  margin-bottom: .5rem;
}

.form-control, .form-select {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  padding: 0.375rem 0.75rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  background: #617ade;
}

.btn {
  background: rgba(23, 53, 93, 0.91);
  color: #ffffff;

  font-size: 1rem;
  font-weight: 600;

  border-radius: 10px;

  padding: 0.5rem 0.75rem;

  user-select: none;

  border: 1px solid black;

  margin-left: .375rem;
}

.btn-create {
  color: white;
  background: limegreen;
}

.card {
  list-style-type: none;
  margin: 2rem;
}

.card-title {
  font-size: 20px;
  font-weight: 600;

  text-align: center;
  margin-bottom: .5rem;
}

.card-image {
  margin-bottom: .5rem;
}

.card-footer {
  font-size: 15px;

  display: flex;
  justify-content: space-between;
}

.icon {
  position: relative;
  height: 30px;
  left: 5px;
  top: -5px;
}

.stock {
  display: flex;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  display: inline-grid;
  /*flex-wrap: wrap;*/
  justify-content: flex-end;
  position: relative;

}

.btn.add {
  display: flex;
  justify-content: center;
  position: relative;
  text-decoration: none;
  padding: 0.2em 0.4em;
}

.btn.add:hover {
  color: #000000;
}

.tiny-dialog {
  display: flex;
  justify-content: right;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  position: center;
}

.error-messaging {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 1px;
}

.section-errors {
  display: flex;
  justify-content: center;
  position: relative;
}

.create-item-form {
  display: flex;
  justify-content: center;
  position: center;
}

